<ion-view title="Activity Completed">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="activityCompletedCtrl">
        <div>
            <center>
                <h2>Congratulations on your activity {{ fname }}!</h2>
            
   
                <h3>Distance travelled: {{ distance }}km</h3></br> 
             
                <!-- stopwatch test below -->
                
                <h3 class="center">Elapsed Time: {{ elapsedTime }} </h3>
                    
                
                    <h3>Average Pace: {{ routedistance / elapsedTime }} km/min </h3></br> 
                    <h3>Calories Burned: {{ cb }} calories</h3>
                    
                </div>
            </center>
        </div>

        <div ng-controller="socialCtrl"> 
            <button ng-click="shareActivity()" style="font-weight:600;color:#FFFFFF;" class="button button-positive button-block button-large icon-right ion-ios-arrow-forward button-full">Share your activity</button>
        </div> 

        <button ui-sref="tabsController.activityList" style="font-weight:600;color:#FFFFFF;" class="button button-positive button-block button-large icon-right ion-ios-arrow-forward button-full">Tap here to complete activity</button>
    </ion-content>
</ion-view>

