<ion-view title="Activity Completed">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header" ng-controller="activityCtrl">
        <div>
            <center>
                <h1>Congratulations on your activity {{ fname }}!</h1>
            </center>
</br> 
            <center>
                <h2 ng-model="activity.distance">Distance travelled: {{ activity.distance  }} km</h2>
</br> 
                <h2 ng-controller="stopwatchCtrl">Time Taken: {{ activity.timer }} secs </h2>
</br> 
                <h2 ng-model="activity.avgpace">Average Pace: {{ activity.avgpace  }} km/min</h2>
</br> 
                <h2 ng-model="activity.calburn">Calories Burned: {{ activity.calburn  }} calories</h2>
          </center>
        </div>

    </br> 
        <a ui-sref="tabsController.activityList" class="button button-assertive button-block  icon-right ion-ios-arrow-forward">Tap here to complete activty</a>
    </ion-content>
</ion-view>