<ion-view title="Activity Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="activityCtrl">
        

        <center><h2>Set up your activity {{ fname }}!</h2></center>
        
        <form class="list">
        <li>Route 1</li>
        <li>Route 2</li>
        </form> 

        <div ng-controller="stopwatchCtrl">
        <button ui-sref="activityInProgress" class="button button-positive button-block button-large" ng-click="startTimer()">Ready? Lets go!</button>
        </div> 


</br>

        <a ui-sref="tabsController.dashboard" class="button button-assertive button-block button-large">Cancel Activity</a>
    </ion-content>
</ion-view>