<ion-view title="Activity Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="activitySettingsCtrl">
        
    <center><h2>Set up your activity!</h2></center>
    </br> 
    
    <div class="item item-divider">Available Routes in London</div>
    <ion-list>
        <ion-radio name="routeChoice" ng-repeat="route in routeList" ng-value="route.name" ng-model="chroute" ng-change="routeChange(route)" ng-click="passRoute(route)">
        
        {{route.name}}
        </ion-radio>
   
    </ion-list>
    
    <h4> Chosen Route: {{ chroute }} </h4> 
        <!-- put this in button element below > ng-click="startTimer()"  -->
        <button ui-sref="activityInProgress" class="button button-positive button-block button-large" ng-click=" prepareRoute()">Ready? Lets go!</button>

        <button ui-sref="tabsController.dashboard" class="button button-assertive button-block button-large">Cancel Activity</button>

    </ion-content>
</ion-view>