<ion-view title="Activity Completed">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="activityCompletedCtrl">
        <div>
            <center>
                <h2>Congratulations on your activity {{ fname }}!</h2>
                <div ng-init="apple=[{},{},{},{},{},{},{},{},{},{}]"></div>
                <div ng-repeat="x in apple">porn</div>
   
                <h3>Distance travelled: {{ distanceTravelled }} m</h3></br> 
             
                <!-- stopwatch test below -->
                
                <h3 class="center">Elapsed Time: {{ timeTaken }} </h3>
                    
                
                <h3>Average Pace: {{ avgPace }} km/min </h3></br> 
                <h3>Calories Burned: {{ calburn }} calories</h3>
                    
                </div>
            </center>
        </div>

        <div ng-controller="socialCtrl"> 
            <button ng-click="shareActivity()" style="font-weight:600;color:#FFFFFF;" class="button button-positive button-block button-large icon-right ion-ios-arrow-forward button-full">Share your activity</button>
        </div> 

        <div ng-controller="firebaseCtrl">
            <button ui-sref="tabsController.activityList" style="font-weight:600;color:#FFFFFF;" class="button button-positive button-block button-large icon-right ion-ios-arrow-forward button-full" ng-click="createActivity()">Tap here to complete activity</button>
        </div> 
    </ion-content>
</ion-view>

