<ion-view title="Activity in Progress">

	<style type="text/css">
	#map_canvas { 
		height: 560px; 
		width: 100%  }
	
	#map_canvas img {
		max-width: none;
	}
	
	#map_canvas div {
	    -webkit-transform: translate3d(0,0,0);
	}

	.activity-map{
   	display:block;
    height:400px;
    width:100%;
    margin-bottom:15px;
	}
	</style>

	    <ion-content overflow-scroll="true" padding="true" class="has-header" >
	       
		<script>
		var x = document.getElementById("demo");

		function getLocation() {
		    if (navigator.geoLocation) {
		        navigator.geoLocation.getCurrentPosition(showPosition);
		    } else { 
		        x.innerHTML = "Geolocation is not supported by this browser.";
		    }
		}

		function showPosition(position) {
		    x.innerHTML = "Latitude: " + position.coords.latitude + 
		    "<br>Longitude: " + position.coords.longitude;	
		}
		</script>

		
<!-- Div: Time elapsed of activity -->
		
		<div ng-controller="stopwatchCtrl" ng-init="startTimer()">

		<h3 class="center">Time Elapsed: {{ timer }}</h3>

		<center><button ng-click="stopTimer()">stop time</button></center>
	</br> 
		</div>	

	</br> 
<!-- Div: Map object-->

	    <div activity-map ng-model="searchLocation" class="activity-map">
       
        </div>  

<!-- Div: Results of activity 
        <div> 
	       	<ion-list ng-controller="activityCtrl">            
	            <h4>Temp details</h4>
	  
	            <label class="item item-input" name="time-taken">
	                <span class="input-label">Time Taken (mins)</span>
					<input type="number" placeholder="Time taken (mins)" string-to-number ng-model="activity.time">   
				</label>

	            <label class="item item-input" name="cal-burn">
	                <span class="input-label">Calories Burned (cal)</span>
	        		<input type="number" placeholder="Calories Burned (cal)" string-to-number ng-model="activity.calburn">
	            </label>

	        </ion-list>
        </div> 
-->
			<div ng-controller="stopwatchCtrl">
	        <button ui-sref="activityCompleted" class="button button-positive button-block " ng-click="stopTimer(); getActivity(); storeActivity(); ">Finish Activity!</button>
	    	</div>

	    </ion-content>

</ion-view>