<ion-view title="Activity in Progress">

<!-- to add in below tag:  overflow-scroll="true" -->
	<ion-content  padding="true" class="has-header" ng-controller="activityInProgressCtrl">

<!-- Time elapsed of activity -->

	<!--  uncomment the below at production-->
	<!-- <div ng-controller="stopwatchCtrl" ng-init="startTimer()"> -->

	<h3 class="center">Time Elapsed: {{hours}}: {{mins}}: {{ secs }} </h3>

<!-- Current step for the user to take  -->
	<center><span id="bolded">Current Step: <span ng-bind-html="currStep"></span></span></center>
	<input type="text" ng-model="lat">lat input</input> 

	<p>route: {{ routeservice.router }} </p>
	<!-- <input type="text" ng-model="chroute"></input> -->

	</br>

<!-- Map object --> 
	
		<!-- Getting the ActivityMap directive to be displayed in view -->
		<div activity-map="" chroute="chroute" lat="lat" ng-model="searchLocation" class="activity-map"></div>
						
<!-- Directions Panel-->

	<div id="directionsPanel"></div>

<!-- Results of activity --> 

		<button ui-sref="activityCompleted" style="font-weight:600;color:#FFFFFF;" class="button button-positive button-large button-block button-full" ng-click="stopTimer(); storeActivity(); getActivity();  ">Finish Activity!</button>

	</div> 
	    
	</ion-content>

</ion-view>


