
<ion-view title="Dashboard">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header" >

        <div style="text-align:center; padding: 60px;">
            <img src="img/exerseyes.png" width="100%" height="auto">
        </div>
    <div ng-controller="userCtrl">
        <h3 class="center">The app that helps you keep fit.</h3>
    </div> 
    </br> 

         <h3 class="center">You have completed {{ totalkm }}km so far! Keep it up!</h4>
    </br> 
       	<h2 class="center" ng-model="getUser">Welcome back {{ user.fname }}!</h3>
        <button ui-sref="activitySettings" style="font-weight:600;color:#FFFFFF;" class="button button-positive button-block button-large button-full">Lets Begin!</button>

    
    </ion-content>
</ion-view>