

<ion-view title="Dashboard">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header" ng-controller="userCtrl">

        <div style="text-align:center; padding: 60px;">
            <img src="img/exerseyes.png" width="100%" height="auto">
        </div>
        <h3 class="center">The app that helps you get fit.</h4>
    </br> 
       	<h2 class="center" ng-model="getUser">Welcome back {{ fname }}!</h3>
        <a ui-sref="activitySettings" class="button button-positive button-block button-large">Lets Begin!</a>

    
    </ion-content>
</ion-view>