<ion-view title="Settings">

<body ng-controller="settingsCtrl">
    
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header" ng-controller="userCtrl" >
       
    <ion-list> 

            <h2 class="center">About You!</h2>

            <button class="button button-positive button-block button-large">Connect your Facebook Account</button>
</br> 
            
            <label class="item item-input" name="first-name">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Your first Name" ng-model="user.fname">
            </label>
       
            <label class="item item-input" name="last-name">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Your last name" ng-model="user.lname">
            </label>
            
            <label class="item item-input" name="age">
                <span class="input-label">Age</span>
                <input type="number" placeholder="Your age" string-to-number ng-model="user.age">
            </label>
        
        
            <label class="item item-input" name="weight">
                <span class="input-label">Weight (kg)</span> 
                <input type="number" placeholder="Your weight" string-to-number ng-model="user.weight">
            </label>
    
        
            <label class="item item-input" name="height">
                <span class="input-label">Height (cm)</span>
                <input type="number" placeholder="Your height" string-to-number ng-model="user.height">
            </label>
        </ion-list>

    </br> 
</br> 

        <button class="button button-positive button-block button-large icon-left ion-arrow-right-b" ng-click='storeUser()' >Save Details</button>


    </ion-content>

</body> 
</ion-view>