<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <h4>About You!</h4>
            <label class="item item-input" name="first-name">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Your first Name">
            </label>
        </form>
        <form class="list">
            <label class="item item-input" name="last-name">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Your last name">
            </label>
        </form>
        <form class="list">
            <label class="item item-input" name="age">
                <span class="input-label">Age</span>
                <input type="number" placeholder="Your age">
            </label>
        </form>
        <form class="list">
            <label class="item item-input" name="weight">
                <span class="input-label">Weight</span>
                <input type="number" placeholder="Your weight">
            </label>
        </form>
        <ion-list>
            <label class="item item-input" name="height">
                <span class="input-label">Height</span>
                <input type="number" placeholder="Your height">
            </label>
        </ion-list>
        <button class="button button-positive button-block  icon-left ion-arrow-right-b">Save Details</button>
    </ion-content>
</ion-view>