<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 38px;"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email Address</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 34px;"></div>
            <div style="margin-right:-20px;">
                <a ui-sref="tabsController.settings" id="signup" style="left:-10px;font-weight:600;" class="button button-positive button-large button-full">Complete sign up</a>
            </div>
        </form>
    </ion-content>
</ion-view>