/* Custom CSS to complement Ionic css */

.center {

	text-align: center;

}

.map {

	height: 100%;
	width: 100%;

}

.scroll {

	height: = 100%;
}

#bolded {

	font-size: 30px; 
	font-weight: bold;
}

#ctrlTab {

	font-size: 40px
}

/* CSS for displaying map in Activity in Progress view */
#map_canvas { 
		height: 560px; 
		width: 100%  }
	
	#map_canvas img {
		max-width: none;
	}
	
	#map_canvas div {
	    -webkit-transform: translate3d(0,0,0);
	}

	.activity-map{
   	display:block;
    height:400px;
    width:100%;
    margin-bottom:15px;
	}
/* */
